body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #192e3a;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
}

form {
    display: inline-block;
    margin-bottom: 20px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 250px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px; /* Same width for both buttons */
}

/* Issue Certificate Button */
.issue-btn {
    background-color: #4CAF50; /* Green */
    color: white;
}

/* Verify Certificate Button */
.verify-btn {
    background-color: #007BFF; /* Blue */
    color: white;
}

.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .cert-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cert-table th, .cert-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.cert-table th {
    background-color: #f4f4f4;
}

/* .back-btn {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.back-btn:hover {
    background-color: #0056b3;
} */

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.generate-btn {
    background-color: #ff9800; /* Orange */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.generate-btn:hover {
    background-color: #e68900;
}
